apiVersion: v1
kind: Secret
metadata:
  name: example-creds-2
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "config_content": "KUBECFG",
      "context": "kind-kind2"
    }
